.home-page {
    height: 88vh; 
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center; 
    font-size: 30px;
}

.home-page p {
    justify-self: center;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 40px;
}

.home-page img {
    width: 500px;
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}